.single-country {
    width: 50%;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.single-country a {
    background-color: rgba(8, 35, 75, 0.8);
    width: 35%;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.single-country ul {
    list-style: none;
    text-align: justify;
}

.borders {
    list-style: disc !important;
}

.single-country li {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.single-country li span {
    font-weight: bold;
    color: #000;
}
